// headings
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  line-height: 1;
  margin-bottom: 1em;
}

// navigation 
.navigation {
  .navigation-link {
    font-size: 1.15em;
  }
}

// headings 
.subheader {
  text-transform: uppercase;
  font-weight: 700;
  //font-size: .7em;
  @include fontSizes(1em, 1em, .7em);
  font-variant-caps: all-small-caps;
}


[class*="heading-"]{
  font-weight: 700;
  letter-spacing: -0.4px;
}

.heading-3x {
  //font-size: 4.8em;
  @include fontSizes(3em, 3em, 4.8em);
}

.heading-2x {
  //font-size: 3.25em;
  @include fontSizes(2.5em, 2.5em, 3.25em);
}

.heading-x {
  //font-size: 3.15em;
  @include fontSizes(2.25em, 2.25em, 3.15em);
}

.heading-lg {
  //font-size: 2.8em;
  @include fontSizes(2em, 2em, 2.8em);
}

.heading-md {
  //font-size: 2em;
  @include fontSizes(1.2em, 1.2em, 2em);
}

.heading-sm {
  font-size: 1.5em;
}

.heading-xsm {
  font-size: 1em;
}

.p-medium {
  font-size: .9em;
}

.p-normal {
  font-size: .8em;
}

.p-small {
  font-size: .7em;
}

.rich-text-container {
  h1, h2, h3, h4, h5, h6 {
    margin: 1rem 0;
  }
  h2 {
    @extend .heading-lg;
  }
}

.logo-heading {
  @extend .heading-sm;
}

// blockquote
blockquote {
  padding: 10px 20px;
  margin: 1rem 0;
  border-left: $blockquoteBorder;
}

// general texts
p {
  margin: .5em 0;
  &:is(:last-of-type){
    margin: .5em 0 0;
  }
  &:is(:first-of-type){
    margin: 0 0 .5em;
  }
}

a {
  &:visited {
    color: inherit;
  }
}

// UL OL
ul, ol {
  margin: 1rem 0;
  padding-left: 0;
  list-style-position: inside;
}