<div class="main-container" id="main-container">
  <main id="main-content">
    <include src="../snippets/header.html"></include>


    <include src="../snippets/typography.html"></include>

    <div class="container">
      <div class="section-divider"></div>
    </div>

    <include src="../snippets/rich-text.html"></include>

    <div class="container">
      <div class="section-divider"></div>
    </div>

    <include src="../snippets/colors.html"></include>

    <div class="container">
      <div class="section-divider"></div>
    </div>

    <include src="../snippets/buttons.html"></include>

    <div class="container">
      <div class="section-divider"></div>
    </div>

    <include src="../snippets/grids.html"></include>


    <div class="container">
      <div class="section-divider"></div>
    </div>

    <include src="../snippets/spacers.html"></include>

    <div class="container">
      <div class="section-divider"></div>
    </div>

    <include src="../snippets/forms.html"></include>

    <div class="container">
      <div class="section-divider"></div>
    </div>

    <include src="../snippets/tabs.html"></include>

    <div class="container">
      <div class="section-divider"></div>
    </div>

  </main>

  <include src="../snippets/footer.html"></include>
</div>