<div class="sidebar-container">
  <header id="header">
    <div id="mobile-nav" class="mobile-nav-container">
      <div>
        <button id="navigation-button" class="menu-button">
          <span class="icon"></span>
          <span class="visually-hidden">Menu</span>
        </button>
        <div class="logo-container logo-container-mobile">
          <h1 class="logo-heading">
            <a href="#" class="logo-link">WhiteLabel</a>
          </h1>
        </div>
      </div>
    </div>
    <div id="sidebar-nav" class="sidebar-nav-container" aria-hidden="true">
      <div>
        <div class="logo-container logo-container-desktop">
          <h1 class="logo-heading">
            <a href="#" class="logo-link">WhiteLabel</a>
          </h1>
        </div>
        <div class="navigation-container">
          <nav class="navigation" id="navigation">
            <ul>
              <li class="navigation-item"><a href="#Typography" class="navigation-link">Typography</a></li>
              <li class="navigation-item"><a href="#Rich-Text" class="navigation-link">Rich Text</a></li>
              <li class="navigation-item"><a href="#Colors" class="navigation-link">Colors</a></li>
              <li class="navigation-item"><a href="#Buttons" class="navigation-link">Buttons</a></li>
              <li class="navigation-item"><a href="#Grids" class="navigation-link">Grids</a></li>
              <li class="navigation-item"><a href="#Spacers" class="navigation-link">Spacers</a></li>
              <li class="navigation-item"><a href="#Forms" class="navigation-link">Forms</a></li>
              <li class="navigation-item"><a href="#Tabs" class="navigation-link">Tabs</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>
</div>