 <section class="style-section" id="section-Buttons">
  <div class="container">
    <div class="card style-card-heading">
      <h2 class="section-heading heading-md" id="Buttons">Buttons</h2>
      <a href="#Buttons" class="section-header-anchor" aria-labelledby="Buttons">
        <img src="/images/anchor.svg" alt="" aria-hidden="true">
      </a>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
    </div>

    <div class="grid grid-buttons">
      <div class="grid-item">
        <h4 class="subheader">Primary</h4>
        <button class="primary">Sign Up</button>
      </div>
      <div class="grid-item">
        <h4 class="subheader">Secondary</h4>
        <button class="secondary">Contact</button>
      </div>
      <div class="grid-item">
        <h4 class="subheader">Outline</h4>
        <button class="outline">Contact</button>
      </div>
      <div class="grid-item">
        <h4 class="subheader">Primary</h4>
        <a class="button primary">Send</a>
      </div>
      <div class="grid-item">
        <h4 class="subheader">Disabled</h4>
        <button class="primary" disabled>Sign Up</button>
      </div>
      <div class="grid-item">
        <h4 class="subheader">Disabled</h4>
        <a class="button secondary" disable>Not Available</a>
      </div>
      <div class="grid-item">
        <h4 class="subheader">Outline</h4>
        <a class="button outline">Contact</a>
      </div>
      <div class="grid-item">
        <h4 class="subheader">Primary</h4>
        <input type="button" class="primary" value="Submit">
      </div>
      <div class="grid-item">
        <h4 class="subheader">Secondary</h4>
        <input type="submit" class="secondary" value="Submit">
      </div>
    </div>
  </div>
</section>