 <section class="style-section" id="section-Colors">
  <div class="container">
    <div class="card style-card-heading">
      <h2 class="section-heading heading-md" id="Colors">Colors</h2>
      <a href="#Colors" class="section-header-anchor" aria-labelledby="Colors">
        <img src="/images/anchor.svg" alt="" aria-hidden="true">
      </a>
      <p>The different weights of greys and colours used throughout the website.</p>
    </div>

    <div class="grid grid-colors">
      <div class="grid-item" style="background-color: var(--primary-color); background-image: var(--primary-gradient);"></div>
      <div class="grid-item" style="background-color: var(--primary-color);"></div>
      <div class="grid-item" style="background-color: var(--cyan)"></div>
      <div class="grid-item" style="background-color: var(--dark-gray)"></div>
      <div class="grid-item" style="background-color: var(--medium-gray)"></div>
      <div class="grid-item" style="background-color: var(--light-gray)"></div>
      <div class="grid-item" style="background-color: var(--soft-gray)"></div>
      <div class="grid-item" style="background-color: var(--silver)"></div>
      <div class="grid-item" style="background-color: var(--white)"></div>
      <div class="grid-item" style="background-color: var(--black)"></div>
    </div>
  </div>
</section>
