 <section class="style-section" id="section-Colors">
  <div class="container">
    <div class="card style-card-heading">
      <h2 class="section-heading heading-md" id="Colors">Colors</h2>
      <a href="#Colors" class="section-header-anchor" aria-labelledby="Colors">
        <img src="/images/anchor.svg" alt="" aria-hidden="true">
      </a>
      <p>The different weights of greys and colours used throughout the website.</p>
    </div>

    <div class="grid grid-colors">
      <div class="grid-item bg-black"></div>
      <div class="grid-item bg-dark-gray"></div>
      <div class="grid-item bg-gray"></div>
      <div class="grid-item bg-light-gray"></div>
      <div class="grid-item bg-soft-gray"></div>
      <div class="grid-item bg-silver"></div>
      <div class="grid-item bg-lime"></div>
      <div class="grid-item bg-lime-hover"></div>
      <div class="grid-item bg-cyan"></div>
      <div class="grid-item bg-gradient"></div>
    </div>
  </div>
</section>