<section class="style-section" id="section-Grids">
  <div class="container">
    <div class="card style-card-heading">
      <h2 class="section-heading heading-md" id="Grids">Grids</h2>
      <a href="#Grids" class="section-header-anchor" aria-labelledby="Grids">
        <img src="/images/anchor.svg" alt="" aria-hidden="true">
      </a>
      <p>Different grid layouts to use across your site.</p>
    </div>

    <div class="grid-containers">
      <div class="grid grids" style="--cols: 4;">
        <div class="grid-item">
          <h4 class="subheader">4 grid</h4>
          <div class="grid-block"></div>
        </div>
        <div class="grid-item">
          <div class="grid-block"></div>
        </div>
        <div class="grid-item">
          <div class="grid-block"></div>
        </div>
        <div class="grid-item">
          <div class="grid-block"></div>
        </div>
      </div>

      <div class="grid grids" style="--cols:3;">
        <div class="grid-item">
          <h4 class="subheader">3 grid</h4>
          <div class="grid-block"></div>
        </div>
        <div class="grid-item">
          <div class="grid-block"></div>
        </div>
        <div class="grid-item">
          <div class="grid-block"></div>
        </div>
      </div>

      <div class="grid grids" style="--cols:2;">
        <div class="grid-item">
          <h4 class="subheader">2 grid</h4>
          <div class="grid-block"></div>
        </div>
        <div class="grid-item">
          <div class="grid-block"></div>
        </div>
      </div>

      <div class="grid grids cols" style="--cols:2fr 1fr;">
        <div class="grid-item">
          <h4 class="subheader">2-1 grid</h4>
          <div class="grid-block"></div>
        </div>
        <div class="grid-item">
          <div class="grid-block"></div>
        </div>
      </div>

      <div class="grid grids cols" style="--cols:1fr 2fr;">
        <div class="grid-item">
          <h4 class="subheader">1-2 grid</h4>
          <div class="grid-block"></div>
        </div>
        <div class="grid-item">
          <div class="grid-block"></div>
        </div>
      </div>
    </div>
  </div>
</section>