<section class="style-section" id="section-Rich-Text">
  <div class="container">
    <div class="card style-card-heading">
      <h2 class="section-heading heading-md" id="Rich-Text">Rich Text</h2>
      <a href="#Rich-Text" class="section-header-anchor" aria-labelledby="Rich-Text">
        <img src="/images/anchor.svg" alt="" aria-hidden="true">
      </a>
    </div>
    <div class="rich-text-container">
      <h2>This is a header</h2>

      <p>The rich text element allows you to create and format headings, paragraphs, blockquotes, images, and video all in one place instead of having to add and format them individually. Just double-click and easily create content.</p>

      <blockquote>A rich text element can be used with static or dynamic content. For static content, just drop it into any page and begin editing. For dynamic content, add a rich text field to any collection and then connect a rich text element to that field in the settings panel. Voila!</blockquote>

      <h4>Latest updates</h4>
      <ul>
        <li>Heading line height is fixed</li>
        <li>All buttons now have tooltips</li>
        <li>Spell checker number issue fixed</li>
      </ul>

      <a href="#">More about Craft CMS</a>

      <figure>
          <img src="https://placehold.co/1024x600.png" alt="" width="1024" height="600">
        <figcaption>An image with a caption</figcaption>
      </figure>
    </div>
  </div>
</section>