<section class="style-section" id="section-Typography">
  <div class="container">
    <div class="card style-card-heading">                
      <h2 class="section-heading heading-md" id="Typography">Typography</h2>
      <a href="#Typography" class="section-header-anchor" aria-labelledby="Typography">
        <img src="/images/anchor.svg" alt="" aria-hidden="true">
      </a>
      <p>The different text sizes used throughout the site.</p>
    </div>

    <div class="card style-card">
      <h4 class="subheader">3x large</h4>
      <h2 class="heading-3x">This is a header.</h2>
    </div>

    <div class="card style-card">
      <h4 class="subheader">2x large</h4>
      <h2 class="heading-2x">This is a header.</h2>
    </div>

    <div class="card style-card">
      <h4 class="subheader">x large</h4>
      <h2 class="heading-x">This is a header.</h2>
    </div>


    <div class="card style-card">
      <h4 class="subheader">large</h4>
      <h2 class="heading-lg">This is a header.</h2>
    </div>

    <div class="card style-card">
      <h4 class="subheader">Medium</h4>
      <h2 class="heading-md">A header.</h2>
    </div>

    <div class="card style-card">
      <h4 class="subheader">Small</h4>
      <h2 class="heading-sm">A header.</h2>
    </div>

    <div class="card style-card">
      <h4 class="subheader">x Small</h4>
      <h2 class="heading-xsm">A header.</h2>
    </div>

    <hr>

    <div class="card style-card">
      <h4 class="subheader">Large Paragraph</h4>
      <p>Avatar Squad is a drop of custom illustrative characters, created by Bob Hanken, aiming to express culture, personality and individuality.</p>
    </div>

    <div class="card style-card">
      <h4 class="subheader">Medium Paragraph</h4>
      <p class="p-medium">Avatar Squad is a drop of custom illustrative characters, created by Bob Hanken, aiming to express culture, personality and individuality.</p>
    </div>

    <div class="card style-card">
      <h4 class="subheader">Paragraph</h4>
      <p class="p-normal">Avatar Squad is a drop of custom illustrative characters, created by Bob Hanken, aiming to express culture, personality and individuality.</p>
    </div>

    <div class="card style-card">
      <h4 class="subheader">Small Paragraph</h4>
      <p class="p-small">Avatar Squad is a drop of custom illustrative characters, created by Bob Hanken, aiming to express culture, personality and individuality.</p>
    </div>

    <div class="card style-card">
      <h4 class="subheader">Quote</h4>
      <blockquote>Avatar Squad is a drop of custom illustrative characters, created by Bob Hanken, aiming to express culture, personality and individuality.</blockquote>
    </div>

    <div class="card style-card">
      <h4 class="subheader">List</h4>
      <ul>
        <li>Heading line height is fixed</li>
        <li>All buttons now have tooltips</li>
        <li>Spell checker number issue fixed</li>
      </ul>
      <ol>
        <li>Heading line height is fixed</li>
        <li>All buttons now have tooltips</li>
        <li>Spell checker number issue fixed</li>
      </ol>
    </div>

    <div class="card style-card">
      <h4 class="subheader">Link</h4>
      <a href="#">Direct link</a>
      <p><a href="#">Link in a paragraph</a>.</p>
    </div>

    <div class="card style-card">
      <h4 class="subheader">Figure with caption</h4>
      <figure>
          <img src="https://placehold.co/1024x600.png" alt="" width="1024" height="600">
        <figcaption>An image with a caption</figcaption>
      </figure>
    </div>
</section>