.card {
  position: relative;

  .subheader {
    margin-bottom: 1rem;
  }

  // p {
  //   margin: 0;
  // }

  &.style-card-heading {
    margin-bottom: 2em;

    .section-heading {
      margin-bottom: 1rem;
    }
  }

  &.style-card {
    padding: 1rem 0;
  }
}