section {
  padding: 2em 1em;
  @media screen and (min-width: map-get($breakpoints, "medium")){
    padding-left: 2em;
    padding-right: 2em;
  }
  @media screen and (min-width: map-get($breakpoints, "extra-large")){
    padding: 4em;
  }
  &:not(.heading){
    min-height: 90vh;
  }

  &.heading {
    background-color: $silver;
    color: $black;
  }

  .grid-colors {
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

    .grid-item {
      height: 150px;
    }
  }

  .grid-containers {
    overflow-x: scroll;
    @media screen and (min-width: map-get($breakpoints, "extra-large")){
      overflow-x: unset;
    }
  }

  .grid-buttons {
    gap: 1em;
    grid-template-columns: 1fr;
    @media screen and (min-width: map-get($breakpoints, "extra-large")){
      grid-template-columns: repeat(3, 1fr);
    }

    .grid-item {
      .subheader {
        margin-bottom: .5em;
      }
    }
  }

  .grids {
    gap: 1em;   
    align-items: end;
    &:not(:last-of-type){
      margin-bottom: 1em;
    }
    &:not(.cols) {
      grid-template-columns: repeat(var(--cols), 1fr);
    }
    &:is(.cols) {
      grid-template-columns: var(--cols);
    }
    .grid-item {
      .subheader {
        margin-bottom: .5em;
      }
    }
  }
}

footer {
  padding: 0 2em 2em;

  @media screen and (min-width: map-get($breakpoints, "extra-large")){
    padding: 0 4em 2em 4em;
  }
}