// Fonts
$text-font: 'DM Sans', sans-serif;
$code-font: 'IBM Plex Mono', monospace;

// colors
$main: var(--main-background-color);
$black: var(--black);
$dark-gray: var(--dark-gray);
$gray: var(--gray);
$light-gray: var(--light-gray);
$soft-gray: var(--soft-gray);
$mediumGray: var(--medium-gray);
$silver: var(--silver);
$lime: var(--lime);
$limeHover: var(--lime-hover);
$cyan: var(--cyan);
$gradient: var(--lime-gradient);
$buttonBackground: $dark-gray;
$buttonSecondaryBackground: $silver;
$divider: $soft-gray;
$gridItemBackground: $mediumGray;
$blockquoteBorder: 4px solid $lime;

// Containers maximum width
$max-width: var(--max-width);
$sm: var(--sm);
$md: var(--md);
$lg: var(--lg);
$xlg: var(--xlg);


/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
  'extra-large': 1200px,
  ) !default;
